.wrapper-hidden-countries {
	width: 800px;
}

.wrapper-countries-table {
	margin-left: 200px;
	width: 280px!important;
}

.wrapper-countries-table-header {

}

.wrapper-countries-table-header-row {

}

.wrapper-countries-table-header-index {
	width: 30px;
}

.wrapper-countries-table-header-country {
	width: 200px;
}

.wrapper-countries-table-header-count {
	width: 50px;
}

.wrapper-countries-table-body {

}

.wrapper-countries-table-row {
	height: 10px!important;
}

.wrapper-countries-table-column-index {
	width: 30px;
	height: 10px!important;
}

.wrapper-countries-table-column-country {
	width: 200px;
	height: 10px!important;
}

.wrapper-countries-table-column-count {
	width: 50px;
	height: 10px!important;
}




.wrapper-country-table {
	margin-left: 200px;
	width: 600px!important;
}

.wrapper-country-table-header-index {
	width: 10px;
}

.wrapper-country-table-header-club {
	width: 200px;
}

.wrapper-country-table-column-index {
	width: 10px;
}

.wrapper-country-table-column-club {
	width: 200px;
}

